    <h1>Products view</h1>
    <br>

    {{#if productsViewExist}}
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Thumbnails</th>
            </tr>
            {{#each productsView}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img  src={{this.thumbnail}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3>No products to show</h3>
    {{/if}}
    <br>
    <a href="/" type="button">Save product</a>